<div
  class="main h-screen w-screen overflow-auto flex justify-center background-image-new"
>
  <!-- style="background-color: #f5f5f5" -->
  <!-- *ngIf="false" -->
  <div
    class="card w-[70%] pb-5 p-2 mt-16 flex flex-col items-center relative"
    style="box-shadow: 0 13px 26px #00000014"
    [class.hide]="finalImage"
  >
    <div class="titile flex flex-col justify-center items-center h-[20%]">
      <!-- <img src="/assets/header.png" /> -->
      <h1
        class="font-extrabold text-center text-3xl sm:text-4xl bg-clip-text text-gray-400"
      >
      શ્રી સુરજમંડણ પાર્શ્વનાથ દાદા <br> ની 403 મી સાલગીરી
      </h1>
      <!-- <span
        class="font-extrabold text-transparent text-xl bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600"
        >Sankalp Patra</span
      > -->
    </div>
    <div
      class="h-[192.85px] w-[150px] bg-white relative z-10 border-[3px] border-solid border-black my-8 flex justify-center items-center"
    >
      <!-- [ngStyle]="{
        'border-color': roundedImage ? 'white' : 'black'
      }" -->
      <img
        [src]="roundedImage"
        class="absolute -z-[1]"
        [class.hide]="!roundedImage"
      />
      <label for="image-input" class="w-5 h-5 cursor-pointer">
        <img src="/assets/image-outline.svg" />
      </label>

      <input
        id="image-input"
        class="hidden w-5 h-5"
        type="file"
        accept="image/png, image/jpeg"
        (change)="OnFielChangeEvent($event)"
      />
      <!-- <input type="file" class="image-input w-5 h-5" /> -->
    </div>
    <div class="mt-3 flex flex-col justify-center items-center">
      <!-- <div class="form__group field">
        <input
          type="input"
          [(ngModel)]="YourName"
          class="form__field  text-white"
          placeholder="Please Enter Your Name"
        />
        <label for="name" class="form__label">Your Name</label>
      </div> -->
      <input
        type="text"
        class="bg-transparent border-b-2 border-solid border-white text-white text-center py-3 text-lg"
        [(ngModel)]="YourName"
        placeholder="Your Name"
      />
      <!-- <input
        type="text"
        class="bg-transparent border-b-2 border-solid border-white text-white text-center py-3 text-lg"
        [(ngModel)]="Location"
        placeholder="Your City"
      /> -->
    </div>
    <div>
      <button
        [disabled]="!YourName || !roundedImage || !Location"
        (click)="CreateSnkalp()"
        class="bg-yellow-200 mt-5 disabled:bg-gray-400 disabled:border-black border hover:bg-blue-700 text-[#011a5c] uppercase text-lg font-bold py-2 px-4 rounded-md"
      >
        Create Card
      </button>
    </div>
  </div>
  <div
    class="top-0 left-0 absolute -z-20 overflow-hidden hidden"
    id="IDCARDDEMo"
  >
    <!-- class="top-0 left-0 absolute overflow-hidden z-10" -->
    <div class="image_back_style">
      <!-- style="height: 863px; width: 610px" -->
      <!-- style="height: 863px; width: 610px; display: none" -->
      <!-- style="width: 170px; top: 24px; left: 138px" -->
      <!-- style="width: 208px; top: 56px; left: 92px" -->
      <img [src]="roundedImage" class="absolute z-10 image_image_style" />
      <!-- <img
        [src]="roundedImage"
        class="absolute z-10"
        style="width: 287px; top: 140px; left: 158px"
        alt=""
      /> -->
      <!-- style="width: 172px; top: 220px; left: 144px" -->
      <!-- style="top: 460px; left: 40px; font-size: 20px" -->
      <!-- style="top: 210px; left: 78px; font-size: 20px" -->
      <span class="absolute font-bold image_name_style">{{ YourName }}</span>
      <span class="absolute font-bold image_name2_style">{{ Location }}</span>
      <!-- <img
        class="absolute"
        style="width: 176px; top: 348px; left: 208px; z-index: 200"
        src="/assets/patra_06_1.png"
      /> -->
      <img class="h-full w-full object-contain" src="/assets/patra_10.jpg" />
    </div>
  </div>
  @if (showCropper) {
  <div
    class="image_cropper z-20 absolute top-0 left-0 h-screen w-screen flex flex-col items-center"
    style="background-color: #e0e0e08a"
  >
    <h1 class="mt-3">Crop The Image</h1>
    <div class="mt-3" style="height: calc(var(--vh) * 0.6)">
      <img
        [src]="orignalImage"
        id="imageshowcase"
        class="imagecomponent w-auto outline"
        style="max-height: calc(var(--vh) * 0.6)"
      />
    </div>
    <button
      class="mt-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full text-2xl w-[40%]"
      (click)="cropClick()"
    >
      Crop
    </button>
    <!-- bg-yellow-200 mt-5 disabled:bg-gray-400 disabled:border-black border hover:bg-blue-700 text-[#011a5c] uppercase text-lg font-bold py-2 px-4 rounded-md -->
  </div>
  }
  <div
    class="self-baseline pt-1 w-screen h-screen flex flex-col items-center bg-white"
    [class.hide]="!finalImage"
  >
    <img [src]="finalImage" class="max-h-[84vh]" />
    <div class="flex justify-center items-center flex-wrap">
      <button
        class="bg-blue-500 my-1 mx-2 w-[9rem] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
        (click)="downloadImage()"
      >
        Download
      </button>

      <button
        class="bg-blue-500 my-1 mx-2 w-[9rem] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
        (click)="shareImage()"
      >
        Share
      </button>
      <button
        class="bg-blue-500 my-1 mx-2 w-[9rem] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
        (click)="finalImage = ''"
      >
        Cancel
      </button>
    </div>
  </div>
</div>

<div class="loader_div" [class.hide]="_LoaderObse | async">
  <div class="loader">Loading...</div>
</div>
